
/* css */
@media (min-width: 700px) {
body {
  background-color: #ede7d2;
  font-family: American Typewriter, serif
}

img {
  display: flex;
  content: center;
}

p {
  background-color: transparent;
}

table th, td{
  border-bottom: 1px solid;
  width: 10%;
  text-align: center;
}

tr:nth-child(odd) {
  background-color: #DEEDD2;
}

th {
  background-color: #92dab2;
}

.navbar {
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #aedfaa;
  opacity: .65;
  z-index: 2;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  text-decoration: none;
  width: 25%;
}

a:hover {
  background-color: #fdfd96;
}



#title {
  font-size: 128px;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

#titleExp {
  font-size: 80px;
  position: relative;
  z-index: 1;
}

.usableQ {
  font-size: 80px;
  font-weight: bold;
  text-align: center;
}

.heading {
  font-size: 70px;
  background-color: transparent;
}

.explanation{
  font-size: 36px;
}

.emptyS1 {
  height: 400px;
}

.emptyS2 {
  height: 135px;
}

.emptyS3 {
  height: 30px;
}

.art {
  width: 100%;
  z-index: 0;
  position: absolute;
}
}

@media (max-width: 699px) {
  body {
    background-color: #ede7d2;
    font-family: American Typewriter, serif
  }

  img {
    display: flex;
    content: center;
  }

  p {
    background-color: transparent;
  }

  table th, td{
    border-bottom: 1px solid;
    width: 10%;
    text-align: center;
  }

  tr:nth-child(odd) {
    background-color: #DEEDD2;
  }

  th {
    background-color: #92dab2;
  }

  .navbar {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #aedfaa;
    opacity: .65;
    z-index: 2;
  }

  .navbar a {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 25%;
  }

  a:hover {
    background-color: #fdfd96;
  }



  #title {
    font-size: 64px;
    font-weight: bold;
    position: relative;
    top: 20px;
    z-index: 1;
  }

  #titleExp {
    font-size: 40px;
    position: relative;
    z-index: 1;
  }

  .usableQ {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
  }

  .heading {
    font-size: 35px;
    background-color: transparent;
  }

  .explanation{
    font-size: 18px;
  }

  .emptyS1 {
    height: 200px;
  }

  .emptyS2 {
    height: 67.5px;
  }

  .emptyS3 {
    height: 15px;
  }

  .art {
    width: 100%;
    z-index: 0;
    position: absolute;
  }
}
